Repository openstack/ironic: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

ironic-standalone:
  description: Test ironic standalone configured with ipmi hardware type, iscsi and direct deploy interfaces, rescue enabled.
  parent: ironic-base
  vars:
    tempest_test_regex: ironic_standalone
    tempest_concurrency: 2
    devstack_localrc:
      FORCE_CONFIG_DRIVE: false
  ...

ironic-standalone-redfish:
  parent: ironic-base
  description: Test ironic standalone configured with redfish hardware type, iscsi and direct and ansible deploy interfaces, rescue it's not enabled.
  required-projects:
  - openstack/sushy-tools
  vars:
    tempest_test_regex: ironic_standalone
    tempest_concurrency: 2
  ...

ironic-tempest-partition-bios-redfish-pxe:
  description: Deploy ironic node over PXE using BIOS boot mode
  parent: ironic-base
  timeout: 5400
  required-projects:
  - openstack/sushy-tools
  vars:
    devstack_localrc:
      IRONIC_DEPLOY_DRIVER: redfish
      IRONIC_ENABLED_HARDWARE_TYPES: redfish
      IRONIC_ENABLED_POWER_INTERFACES: redfish
  ...

ironic-tempest-partition-uefi-redfish-vmedia:
  description: Deploy ironic node over Redfish virtual media using UEFI boot mode
  parent: ironic-tempest-partition-bios-redfish-pxe
  vars:
    devstack_localrc:
      IRONIC_BOOT_MODE: uefi
      IRONIC_ENABLED_BOOT_INTERFACES: redfish-virtual-media
      SWIFT_ENABLE_TEMPURLS: true
  ...

ironic-inspector-tempest-partition-bios-redfish-vmedia:
  description: Inspect and deploy ironic node over Redfish virtual media using legacy BIOS boot mode
  parent: ironic-tempest-partition-uefi-redfish-vmedia
  required-projects:
  - openstack/ironic-inspector
  vars:
    tempest_test_regex: Inspector
    devstack_localrc:
      IRONIC_BOOT_MODE: bios
  ...

ironic-tempest-pxe_ipmitool-postgres:
  description: ironic-tempest-pxe_ipmitool-postgres
  parent: ironic-base
  vars:
    devstack_localrc:
      IRONIC_ENABLED_BOOT_INTERFACES: fake,pxe
      IRONIC_IPXE_ENABLED: false
      IRONIC_AUTOMATED_CLEAN_ENABLED: false
      IRONIC_DEFAULT_BOOT_OPTION: netboot
    devstack_services:
      mysql: false
  ...

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool:
  description: ironic-tempest-ipa-wholedisk-bios-agent_ipmitool
  parent: ironic-base
  timeout: 9600
  vars:
    devstack_localrc:
      IRONIC_DEFAULT_DEPLOY_INTERFACE: direct
      IRONIC_DEFAULT_RESCUE_INTERFACE: agent
      IRONIC_ENABLED_RESCUE_INTERFACES: fake,agent,no-rescue
  ...

ironic-tempest-ipa-wholedisk-bios-pxe_snmp:
  description: ironic-tempest-ipa-wholedisk-bios-pxe_snmp
  parent: ironic-base
  timeout: 5400
  vars:
    devstack_localrc:
      IRONIC_ENABLED_HARDWARE_TYPES: snmp
      IRONIC_DEPLOY_DRIVER: snmp
      IRONIC_TEMPEST_WHOLE_DISK_IMAGE: true
      IRONIC_VM_EPHEMERAL_DISK: 0
  ...

ironic-tempest-ipa-partition-pxe_ipmitool:
  description: ironic-tempest-ipa-partition-pxe_ipmitool
  parent: ironic-base
  timeout: 5400
  vars:
    devstack_localrc:
      IRONIC_TEMPEST_BUILD_TIMEOUT: 850
      IRONIC_DEFAULT_BOOT_OPTION: netboot

Stop running test_schedule_to_all_nodes in the multinode job
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Extend base build timeouts
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add an option to choose the hash ring algorithm
  ironic/common/hash_ring.py
  ironic/conf/default.py
  lower-constraints.txt
  releasenotes/notes/hash-ring-algo-4337c18117b33070.yaml
  requirements.txt
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Extend PXE boot retry timeout for RAX hosts
  devstack/lib/ironic
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Pin the python-ibmcclient upper bounds due to six usage
  driver-requirements.txt
Due: ironic-standalone, ironic-standalone-redfish

Update how to release section
  doc/source/contributor/releasing.rst
Due: none

Force RAX hosts to run tinyipa
  devstack/lib/ironic
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Allow node lessee to see node's ports
  ironic/api/controllers/v1/port.py
  ironic/db/sqlalchemy/api.py
  ironic/objects/port.py
  ironic/tests/unit/api/controllers/v1/test_port.py
  ironic/tests/unit/db/test_ports.py
  ironic/tests/unit/objects/test_port.py
  releasenotes/notes/port-list-by-project-8cfaf3b2cf0dd627.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Adds raid validation for in-band AgentRAID deploy step
  ironic/drivers/modules/agent.py
  ironic/tests/unit/drivers/modules/test_agent.py
  releasenotes/notes/agent-raid-validate-f7348ac034606b83.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Deprecate http_basic_username and http_basic_password in [json_rpc]
  devstack/lib/ironic
  doc/source/install/standalone.rst
  ironic/common/json_rpc/client.py
  ironic/conf/json_rpc.py
  ironic/tests/unit/common/test_json_rpc.py
  lower-constraints.txt
  releasenotes/notes/json_rpc_http_basic-42dfc6ca2471a30e.yaml
  requirements.txt
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Fixes to skip validation of in-band deploy steps before agent boot
  ironic/conductor/deployments.py
  ironic/tests/unit/conductor/test_deployments.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add subsections to the standalone documentation
  doc/source/install/standalone.rst
Due: none

Change non-tinyipa jobs to use multiple cores
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Enforce autospec in some api tests
  ironic/tests/unit/api/base.py
  ironic/tests/unit/api/controllers/v1/test_root.py
  ironic/tests/unit/api/test_audit.py
  ironic/tests/unit/api/test_healthcheck.py
  ironic/tests/unit/api/test_hooks.py
  ironic/tests/unit/api/test_ospmiddleware.py
  tox.ini
Due: none

Make the final deploy step validation actually fail deploy
  ironic/conductor/manager.py
  ironic/tests/unit/conductor/test_manager.py
  releasenotes/notes/deploy-step-validate-76b2aa97e02ba669.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Reset power state upon adoption failure
  ironic/conductor/manager.py
  ironic/tests/unit/conductor/test_manager.py
  releasenotes/notes/unsave-power-state-on-adopt-failed-09194c8269c779de.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Mark IPv6 job as non-voting to unblock the gate
  zuul.d/project.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Remove locks before RPC bus is started
  ironic/common/rpc_service.py
  ironic/conductor/base_manager.py
  ironic/tests/unit/common/test_rpc_service.py
  ironic/tests/unit/conductor/mgr_utils.py
  ironic/tests/unit/conductor/test_base_manager.py
  releasenotes/notes/remove-locks-first-d12ac27106f800f8.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

AgentRAID: Account for empty results in post-configuration checks
  ironic/drivers/modules/agent.py
  ironic/tests/unit/drivers/modules/test_agent.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Trivial: fix a minor issue in standalone docs and improve formatting
  doc/source/install/standalone.rst
Due: none

Fix invalid assertTrue which should be assertEqual
  ironic/tests/unit/drivers/modules/irmc/test_boot.py
Due: none

Enforce autospec in test_iscsi_deploy
  ironic/tests/unit/drivers/modules/test_iscsi_deploy.py
  tox.ini
Due: none

Break out collection functions for json usage
  ironic/api/controllers/v1/collection.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Convert v1 controller to plain, return JSON
  ironic/api/controllers/v1/__init__.py
  ironic/tests/unit/api/controllers/v1/test_root.py
  ironic/tests/unit/api/test_root.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Convert root controller to plain controller
  ironic/api/controllers/root.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Fix idrac-wsman RAID apply_configuration
  ironic/drivers/modules/drac/raid.py
  ironic/tests/unit/drivers/modules/drac/test_raid.py
  releasenotes/notes/bug-2007963-idrac-wsman-raid-apply-configuration-792ccf195057016b.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add cirros-specific FAQ item for troubleshooting
  doc/source/admin/troubleshooting.rst
Due: none

Log the traceback of unexpected errors when verifying power credentials
  ironic/conductor/manager.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Use TLS for json_rpc when configured
  ironic/common/json_rpc/client.py
  ironic/tests/unit/common/test_json_rpc.py
  releasenotes/notes/fix-json-rpc-client-ssl-2438a731beb3d5f9.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Enable deploy-time software RAID in standalone jobs
  devstack/lib/ironic
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Change UEFI PXE job to use tinyipa
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Update number of VM on ironic-base
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Path conditions:
  ironic-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-standalone-redfish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-bios-redfish-pxe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-uefi-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-partition-bios-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-pxe_ipmitool-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-pxe_snmp: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-functional-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe-grub2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit\.yml).*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm-multinode-multitenant: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
