Repository openstack/ironic: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

ironic-standalone:
  description: Test ironic standalone
  parent: ironic-base
  vars:
    tempest_test_regex: ironic_standalone
    tempest_concurrency: 2
    devstack_localrc:
      FORCE_CONFIG_DRIVE: false
      IRONIC_AUTOMATED_CLEAN_ENABLED: false
      IRONIC_DEFAULT_DEPLOY_INTERFACE: direct
  ...

ironic-tempest-partition-bios-redfish-pxe:
  description: Deploy ironic node over PXE using BIOS boot mode
  parent: ironic-base
  timeout: 5400
  required-projects:
  - name: openstack/sushy-tools
    override-checkout: 0.17.0
  vars:
    devstack_localrc:
      IRONIC_DEPLOY_DRIVER: redfish
      IRONIC_ENABLED_HARDWARE_TYPES: redfish
  ...

ironic-tempest-partition-uefi-redfish-vmedia:
  description: Deploy ironic node over Redfish virtual media using UEFI boot mode
  parent: ironic-tempest-partition-bios-redfish-pxe
  vars:
    devstack_localrc:
      IRONIC_BOOT_MODE: uefi
      IRONIC_ENABLED_BOOT_INTERFACES: redfish-virtual-media
      SWIFT_ENABLE_TEMPURLS: true
  ...

ironic-inspector-tempest-partition-bios-redfish-vmedia:
  description: Inspect and deploy ironic node over Redfish virtual media using legacy BIOS boot mode
  parent: ironic-tempest-partition-uefi-redfish-vmedia
  required-projects:
  - openstack/ironic-inspector
  vars:
    tempest_test_regex: Inspector
    devstack_localrc:
      IRONIC_BOOT_MODE: bios
  ...

ironic-tempest-pxe_ipmitool-postgres:
  description: ironic-tempest-pxe_ipmitool-postgres
  parent: ironic-base
  vars:
    devstack_localrc:
      IRONIC_ENABLED_BOOT_INTERFACES: fake,pxe
      IRONIC_IPXE_ENABLED: false
      IRONIC_AUTOMATED_CLEAN_ENABLED: false
      IRONIC_DEFAULT_BOOT_OPTION: netboot
    devstack_services:
      mysql: false
  ...

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool:
  description: ironic-tempest-ipa-wholedisk-bios-agent_ipmitool
  parent: ironic-base
  timeout: 9600
  vars:
    devstack_localrc:
      IRONIC_DEFAULT_DEPLOY_INTERFACE: direct
      IRONIC_DEFAULT_RESCUE_INTERFACE: agent
      IRONIC_ENABLED_RESCUE_INTERFACES: fake,agent,no-rescue
  ...

ironic-tempest-ipa-wholedisk-bios-pxe_snmp:
  description: ironic-tempest-ipa-wholedisk-bios-pxe_snmp
  parent: ironic-base
  timeout: 5400
  vars:
    tempest_test_regex: test_baremetal_server_ops_partition_image
    devstack_localrc:
      IRONIC_ENABLED_HARDWARE_TYPES: snmp
      IRONIC_DEPLOY_DRIVER: snmp
      IRONIC_TEMPEST_WHOLE_DISK_IMAGE: true
  ...

ironic-tempest-ipa-partition-uefi-pxe_ipmitool:
  description: ironic-tempest-ipa-partition-uefi-pxe_ipmitool
  parent: ironic-base
  timeout: 5400
  vars:
    tempest_test_regex: test_baremetal_server_ops_partition_image
    devstack_localrc:
      IRONIC_BOOT_MODE: uefi
      IRONIC_VM_SPECS_RAM: 333096
      IRONIC_AUTOMATED_CLEAN_ENABLED: false
  ...

ironic-tox-bandit:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit
  required-projects:
  - openstack/ironic

ironic-grenade-dsvm:
  parent: ironic-grenade
  timeout: 10800

Fix driver task pattern to reduce periodic db load
  ironic/drivers/modules/drac/bios.py
  ironic/drivers/modules/drac/management.py
  ironic/drivers/modules/drac/raid.py
  ironic/drivers/modules/irmc/raid.py
  ironic/drivers/modules/redfish/management.py
  ironic/drivers/modules/redfish/raid.py
  releasenotes/notes/optimize-driver-task-pattern-322e02b6a2233919.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix Redfish jobs by pinning sushy-tools
  zuul.d/ironic-jobs.yaml
  zuul.d/project.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Use shim-signed on Ubuntu, shim is empty now
  bindep.txt
  devstack/lib/ironic
  doc/source/install/configure-pxe.rst
  zuul.d/project.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Add better error messages for invalid conf molds
  ironic/common/molds.py
  ironic/drivers/modules/drac/management.py
  ironic/tests/unit/common/test_molds.py
  ironic/tests/unit/drivers/modules/drac/test_management.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix iDRAC import configuration missing task handling
  ironic/drivers/modules/drac/management.py
  ironic/tests/unit/drivers/modules/drac/test_management.py
  releasenotes/notes/idrac-import-configuration-task-deleted-2a0e6a96509394b6.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix iDRAC import configuration job with errors
  ironic/drivers/modules/drac/management.py
  ironic/tests/unit/drivers/modules/drac/test_management.py
  ironic/tests/unit/drivers/third_party_driver_mock_specs.py
  ironic/tests/unit/drivers/third_party_driver_mocks.py
  releasenotes/notes/idrac-import-conf-partial-success-86b8bd1983d227f6.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Redfish RAID: Use identity instead of durable_name
  ironic/drivers/modules/redfish/raid.py
  ironic/tests/unit/drivers/modules/redfish/test_raid.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix idrac-wsman having Completed with Errors jobs
  ironic/drivers/modules/drac/bios.py
  ironic/drivers/modules/drac/raid.py
  ironic/tests/unit/drivers/modules/drac/test_bios.py
  ironic/tests/unit/drivers/modules/drac/test_periodic_task.py
  releasenotes/notes/idrac-wsman-completed-with-errors-f65c9a48ed4c02d4.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix ipmitool timing argument calculation
  ironic/drivers/modules/ipmitool.py
  ironic/tests/unit/drivers/modules/test_ipmitool.py
  releasenotes/notes/ipmi_command_retry_timeout-889a49b402e82b97.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Disable Neutron firewall
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Always update cache for HTTP images if Last Modified is unknown
  doc/source/install/standalone/enrollment.rst
  ironic/drivers/modules/image_cache.py
  ironic/tests/unit/drivers/modules/test_image_cache.py
  releasenotes/notes/image-cache-4082178dabd64249.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix in-band cleaning for ramdisk and anaconda deploy
  ironic/drivers/modules/agent.py
  ironic/drivers/modules/agent_base.py
  ironic/tests/unit/drivers/modules/test_agent_base.py
  ironic/tests/unit/drivers/modules/test_pxe.py
  releasenotes/notes/ramdisk-cleaning-f4e061f978bd6ac4.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Remove images from the OS profiler docs
  doc/source/contributor/osprofiler-support.rst
  doc/source/images/sample_trace.svg
  doc/source/images/sample_trace_details.svg
Due: none

Refactor: move base_iso handling from create_boot_iso
  ironic/common/images.py
  ironic/drivers/modules/image_utils.py
  ironic/tests/unit/common/test_images.py
  ironic/tests/unit/drivers/modules/test_image_utils.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update python-dracclient version
  driver-requirements.txt
Due: ironic-standalone

Reno for default_boot_mode change in Yoga
  releasenotes/notes/default-boot-mode-changing-in-yoga-5012348ecfc2f45d.yaml
Due: none

Remove docker reference from legacy image build
  bindep.txt
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Set stage for release 18.2
  doc/source/contributor/webapi-version-history.rst
  ironic/common/release_mappings.py
  ironic/tests/unit/common/test_release_mappings.py
  releasenotes/notes/18.2-prelude-3c8609692bab70a3.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Use an ImageCache for provided boot/deploy ISO images
  doc/source/admin/ramdisk-boot.rst
  ironic/conf/deploy.py
  ironic/drivers/modules/image_utils.py
  ironic/tests/unit/drivers/modules/test_image_utils.py
  releasenotes/notes/iso-cache-5330b63c9e3a02db.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update .gitreview for stable/xena
  .gitreview
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: none

Update master for stable/xena
  releasenotes/source/index.rst
  releasenotes/source/xena.rst
Due: none

Add Python3 yoga unit tests
  zuul.d/project.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

[iRMC] Avoid repeatedly resuming clean after creating raid configuration
  ironic/drivers/modules/irmc/raid.py
  ironic/tests/unit/drivers/modules/irmc/test_periodic_task.py
  releasenotes/notes/irmc-fix-repeatedly-resuming-clean-020f0dfc2e30d7bc.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

[iRMC] Set polling after RAID is built
  ironic/drivers/modules/irmc/raid.py
  ironic/tests/unit/drivers/modules/irmc/test_raid.py
  releasenotes/notes/irmc-set-polling-after-raid-build-5f78ee3e93a92553.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Devstack: don't scan /opt, /etc looking for isolinux
  devstack/lib/ironic
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update iDRAC doc for idrac-redfish RAID
  doc/source/admin/drivers/idrac.rst
Due: none

Clean up caches periodically
  ironic/conductor/manager.py
  ironic/conf/conductor.py
  ironic/drivers/modules/image_cache.py
  releasenotes/notes/periodic-clean-up-29c33d2516bf16ec.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

[Stable only] remove require_exclusive_lock from detect_vendor
  ironic/drivers/modules/ipmitool.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

require_exclusive_lock: log traceback that lead to an error
  ironic/conductor/task_manager.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

PXE: avoid trailing dots in exception messages
  ironic/drivers/modules/pxe_base.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Set IPA download branch and MAX_MICROVERSION
  devstack/lib/ironic
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update release doc
  doc/source/contributor/releasing.rst
Due: none

Remove legacy rpm install list and use bindep
  devstack/files/bindep.txt
  devstack/files/rpms/ironic
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Path conditions:
  ironic-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-bios-redfish-pxe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-uefi-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-partition-bios-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-pxe_ipmitool-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-pxe_snmp: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-functional-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe-grub2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit\.yml).*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipxe-ipv6: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-bfv: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ironic-inspector: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm-multinode-multitenant: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-dsvm-functional: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-parallel: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-pxe_ipa-full: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python2: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python3: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
