Repository openstack/ironic: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Path conditions:
  ironic-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-redfish-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-pxe_ipmitool-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-functional-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-functional-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe-grub2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit\.yml).*$, ^tox.ini$
  legacy-ironic-dsvm-base: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm-multinode-multitenant: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Fix SpanLength calculation for DRAC RAID configuration
  ironic/drivers/modules/drac/raid.py
  releasenotes/notes/bug-2004265-cd9056868295f374.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

DRAC: Added redfish management interface issue
  doc/source/admin/drivers/idrac.rst
Due: none

Ironic 15.0 prelude
  releasenotes/notes/fifteen-0da3cca48dceab8b.yaml
Due: none

Prepare release notes/docs for 15.0 release
  doc/source/contributor/webapi-version-history.rst
  releasenotes/notes/agent-token-support-0a5b5aa1585dfbb5.yaml
  releasenotes/notes/bump-min-ansible-ver-a78e7885c0e9d361.yaml
  releasenotes/notes/image-checksum-recalculation-sha256-fd3d5b4b0b757e86.yaml
  releasenotes/notes/image_checksum_optional-381acf9e441d2a58.yaml
  releasenotes/notes/improve-redfish-set-boot-device-e38e9e9442ab5750.yaml
  releasenotes/notes/optional-redfish-system-id-3f6e8b0ac989cb9b.yaml
  releasenotes/notes/port-local-link-connection-network-type-71103d919e27fc5d.yaml
  releasenotes/notes/redfish-add-root-prefix-03b5f31ec6bbd146.yaml
  releasenotes/notes/rename-iso-builder-func-46694ed6ded84f4a.yaml
  releasenotes/notes/use_secrets_to_generate_token-55af0f43e5a80b9e.yaml
Due: none

Stop configuring install_command in tox.
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Upgrade flake8-import-order version to 0.17.1
  lower-constraints.txt
  test-requirements.txt
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Fix enabled_hardware_types from idrac-wsman to idrac
  doc/source/admin/drivers/idrac.rst
Due: none

Fix issue where server fails to reboot
  ironic/drivers/modules/drac/power.py
  ironic/tests/unit/drivers/modules/drac/test_power.py
  ironic/tests/unit/drivers/third_party_driver_mocks.py
  releasenotes/notes/idrac-fix-reboot-failure-c740e765ff41bcf0.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Update iDRAC doc about vendor passthru timeout
  doc/source/admin/drivers/idrac.rst
Due: none

Support executing in-band deploy steps
  ironic/conductor/deployments.py
  ironic/conductor/manager.py
  ironic/conductor/steps.py
  ironic/drivers/modules/agent_base.py
  ironic/tests/unit/conductor/test_manager.py
  ironic/tests/unit/drivers/modules/test_agent_base.py
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Delay validating deploy templates until we get all steps
  ironic/conductor/deployments.py
  ironic/conductor/manager.py
  ironic/conductor/steps.py
  ironic/tests/unit/conductor/test_deployments.py
  ironic/tests/unit/conductor/test_steps.py
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Update iDRAC doc about soft power off timeout
  doc/source/admin/drivers/idrac.rst
Due: none

Log when IPA fallback occurs on bootloader install
  ironic/drivers/modules/agent_client.py
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add link to other Redfish parms to iDRAC doc
  doc/source/admin/drivers/idrac.rst
Due: none

Fix RAID configuration with idrac-wsman interface
  ironic/drivers/modules/drac/raid.py
  ironic/tests/unit/drivers/modules/drac/test_periodic_task.py
  releasenotes/notes/bug-2007567-wsman-raid-48483affdd9f9894.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Restore missing node.save() in agent_base.py
  ironic/drivers/modules/agent_base.py
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Workaround for uefi job with ubuntu bionic
  devstack/lib/ironic
  zuul.d/ironic-jobs.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add note about UEFI support in Train
  doc/source/admin/raid.rst
Due: none

CI: migrate UEFI jobs to Cirros 0.5.1
  devstack/common_settings
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add ironic-standalone-redfish
  zuul.d/ironic-jobs.yaml
  zuul.d/project.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

In-band deploy steps: correctly wipe driver_internal_info
  ironic/conductor/deployments.py
  ironic/conductor/utils.py
  ironic/drivers/modules/agent_base.py
  ironic/tests/unit/conductor/test_manager.py
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Fix agent_client handling of embedded errors
  ironic/drivers/modules/agent_client.py
  ironic/tests/unit/drivers/modules/test_agent_client.py
  releasenotes/notes/consider_embedded_ipa_error_codes-c8fdfaa9e6a1ed06.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Implements: Reactive HUAWEI ibmc driver
  ironic/drivers/ibmc.py
  releasenotes/notes/reactive-ibmc-driver-d2149ca81a198090.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Fix supported sushy-oem-idrac version
  driver-requirements.txt
Due: ironic-standalone

Don't break UEFI install with older IPAs
  ironic/drivers/modules/agent_base.py
  ironic/drivers/modules/agent_client.py
  ironic/tests/unit/drivers/modules/test_agent_base.py
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add PXE reset known issue to the docs
  doc/source/admin/drivers/idrac.rst
Due: none

Fix configure-vm.py and xml file for centos8
  devstack/tools/ironic/scripts/configure-vm.py
  devstack/tools/ironic/templates/vm.xml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Update python-dracclient version
  driver-requirements.txt
Due: ironic-standalone

Add ironic-python-agent-builder to grenade projects and use netboot
  playbooks/legacy/grenade-dsvm-ironic-multinode-multitenant/run.yaml
  playbooks/legacy/grenade-dsvm-ironic/run.yaml
  zuul.d/legacy-ironic-jobs.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

CI: repair the SNMP job and make it voting.
  zuul.d/ironic-jobs.yaml
  zuul.d/project.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

CI: exclude the inspection abort tests from the inspector-redfish-vmedia job
  zuul.d/ironic-jobs.yaml
Due: ironic-base, ironic-standalone, ironic-tempest-ipa-partition-redfish-tinyipa, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-functional-python2, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant
