Repository openstack/ironic: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Path conditions:
  ironic-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-standalone-redfish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-bios-redfish-pxe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-uefi-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-partition-bios-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-pxe_ipmitool-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-pxe_snmp: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-functional-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe-grub2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit\.yml).*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-bfv: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ironic-inspector: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm-multinode-multitenant: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-dsvm-functional: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-parallel: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-pxe_ipa-full: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python2: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python3: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

autospec for classmethods and staticmethods for Python < 3.7.4
  ironic/tests/base.py
Due: none

Update release mappings and API history for 16.0
  doc/source/contributor/webapi-version-history.rst
  ironic/common/release_mappings.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Add documentation for ISO boot
  doc/source/admin/index.rst
  doc/source/admin/interfaces/deploy.rst
  doc/source/admin/ramdisk-boot.rst
Due: none

Amend the agent_verify_ca release note to mention the configuration option
  releasenotes/notes/agent-verify-ca-ddbfbb0f27198d82.yaml
Due: none

Fix deprecated 'idrac' interface '__init__'s
  ironic/drivers/modules/drac/inspect.py
  ironic/drivers/modules/drac/management.py
  ironic/drivers/modules/drac/power.py
  ironic/drivers/modules/drac/raid.py
  ironic/drivers/modules/drac/vendor_passthru.py
  releasenotes/notes/idrac-fix-deprecated-idrac-interface-__init__-362696b389c86d5d.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Use correct error handler instead of calling process_event('fail')
  ironic/drivers/modules/ilo/management.py
  ironic/drivers/modules/ilo/raid.py
  ironic/tests/unit/drivers/modules/ilo/test_management.py
  ironic/tests/unit/drivers/modules/ilo/test_raid.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Adding changes for iso less vmedia support
  doc/source/admin/drivers/ilo.rst
  doc/source/admin/drivers/redfish.rst
  ironic/drivers/modules/ilo/boot.py
  ironic/drivers/modules/ilo/common.py
  ironic/drivers/modules/image_utils.py
  ironic/tests/unit/drivers/modules/ilo/test_boot.py
  ironic/tests/unit/drivers/modules/ilo/test_common.py
  releasenotes/notes/add-iso-less-vmedia-ilo-5816922c03d0fd85.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix invalid assert_has_calls
  ironic/tests/unit/conductor/test_deployments.py
Due: none

Route conductor notification RPC to the same conductor
  ironic/conductor/rpcapi.py
  ironic/conductor/utils.py
  ironic/tests/unit/conductor/test_utils.py
  releasenotes/notes/notify-topic-451493784ce45e73.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Follow-up patch for iso less vmedia support
  doc/source/admin/drivers/ilo.rst
Due: none

Fix a race condition in the hash ring code
  ironic/common/hash_ring.py
  ironic/tests/unit/common/test_hash_ring.py
  releasenotes/notes/hash-ring-6ce212ab86c2592d.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Do not silently ignore exceptions when running next steps
  ironic/conductor/cleaning.py
  ironic/conductor/deployments.py
  ironic/conductor/utils.py
  releasenotes/notes/spawn-error-2249f94606388fbd.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Release notes prelude for the Victoria release
  releasenotes/notes/prelude-for-victoria-e65b4c63ce1e1a7a.yaml
Due: none

Redfish driver firmware update
  doc/source/admin/drivers/idrac.rst
  doc/source/admin/drivers/redfish.rst
  ironic/conf/redfish.py
  ironic/drivers/modules/redfish/management.py
  ironic/drivers/modules/redfish/utils.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  ironic/tests/unit/drivers/modules/redfish/test_utils.py
  ironic/tests/unit/drivers/third_party_driver_mock_specs.py
  ironic/tests/unit/drivers/third_party_driver_mocks.py
  releasenotes/notes/redfish-firmware-update-a06d0624325a66ca.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update 'idrac' driver requirements for Victoria
  driver-requirements.txt
Due: ironic-standalone, ironic-standalone-redfish

Handle conductor_affinity earlier in the deployment process
  ironic/conductor/deployments.py
  ironic/conductor/manager.py
  ironic/tests/unit/conductor/test_deployments.py
  ironic/tests/unit/conductor/test_manager.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Remove compatibility with conductors that do not support groups
  ironic/conductor/rpcapi.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Handle patching node /protected value with None
  ironic/api/controllers/v1/node.py
  releasenotes/notes/protected-unset-0620b844afbb635e.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix handling OctetString for pysnmp
  ironic/drivers/modules/irmc/inspect.py
  ironic/tests/unit/drivers/modules/irmc/test_inspect.py
  lower-constraints.txt
  releasenotes/notes/fix-irmc-inspection-c9ae3864a96b2588.yaml
  test-requirements.txt
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Trivial: fix formatting in the prelude
  releasenotes/notes/prelude-for-victoria-e65b4c63ce1e1a7a.yaml
Due: none

devstack: do not default to swift if SWIFT_ENABLE_TEMPURLS is False
  devstack/lib/ironic
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Support iRMC hardware type again
  ironic/drivers/irmc.py
  ironic/drivers/modules/irmc/bios.py
  ironic/drivers/modules/irmc/boot.py
  ironic/drivers/modules/irmc/inspect.py
  ironic/drivers/modules/irmc/power.py
  ironic/drivers/modules/irmc/raid.py
  releasenotes/notes/support-irmc-driver-again-589db26927e32847.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Minor agent version code cleanup
  ironic/conductor/manager.py
  ironic/conductor/utils.py
  ironic/tests/unit/conductor/test_manager.py
  ironic/tests/unit/conductor/test_utils.py
  releasenotes/notes/minor-agent-version-cleanup-842e3919a366b9d6.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Don't migrate away from iscsi if it is the default
  ironic/db/sqlalchemy/api.py
  ironic/tests/unit/db/test_api.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Add GPU reporting to idrac-wsman inspect interface
  doc/source/admin/drivers/idrac.rst
  driver-requirements.txt
  ironic/drivers/modules/drac/inspect.py
  ironic/tests/unit/drivers/modules/drac/test_inspect.py
  releasenotes/notes/idrac-add-gpu-reporting-support-f4d80e2071f85f6a.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

CI: Additional minor job changes to improve CI reliability
  zuul.d/ironic-jobs.yaml
  zuul.d/project.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update .gitreview for stable/victoria
  .gitreview
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: none

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  zuul.d/project.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Clarify power state logging
  ironic/conductor/utils.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix inspection for idrac
  ironic/drivers/modules/image_utils.py
  releasenotes/notes/fix-inspection-for-idrac-34b3ea09452af8be.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

CI: Making some of the older jobs more specific
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none
