Repository openstack/ironic: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Path conditions:
  ironic-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-standalone-redfish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-bios-redfish-pxe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-uefi-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-partition-bios-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-pxe_ipmitool-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-pxe_snmp: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-functional-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe-grub2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit\.yml).*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm-multinode-multitenant: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Fix pep8
  ironic/cmd/__init__.py
  ironic/common/pxe_utils.py
  ironic/tests/base.py
  ironic/tests/unit/api/controllers/v1/test_allocation.py
  ironic/tests/unit/api/controllers/v1/test_chassis.py
  ironic/tests/unit/api/controllers/v1/test_conductor.py
  ironic/tests/unit/api/controllers/v1/test_deploy_template.py
  ironic/tests/unit/api/controllers/v1/test_driver.py
  ironic/tests/unit/api/controllers/v1/test_node.py
  ironic/tests/unit/api/controllers/v1/test_port.py
  ironic/tests/unit/api/controllers/v1/test_portgroup.py
  ironic/tests/unit/api/controllers/v1/test_volume.py
  ironic/tests/unit/api/controllers/v1/test_volume_connector.py
  ironic/tests/unit/api/controllers/v1/test_volume_target.py
  ironic/tests/unit/test_base.py
  tox.ini
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Update lower-constraints.txt
  lower-constraints.txt
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Cap pycodestyle explicitly to be < 2.6.0
  test-requirements.txt
Due: ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Fix the wrong description
  ironic/drivers/modules/irmc/boot.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add ussuri release notes version
  releasenotes/source/ussuri.rst
Due: none

redfish: handle hardware that is unable to set persistent boot
  ironic/drivers/modules/redfish/management.py
  ironic/drivers/modules/redfish/power.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  ironic/tests/unit/drivers/modules/redfish/test_power.py
  releasenotes/notes/redfish-sadness-6e2a37b3f45ef1aa.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Improve `redfish` set-boot-mode implementation
  ironic/drivers/modules/redfish/management.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  releasenotes/notes/decouple-boot-params-2b05806435ad21e5.yaml
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Improve `redfish` set-boot-device behaviour
  ironic/drivers/modules/redfish/management.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  releasenotes/notes/improve-redfish-set-boot-device-e38e9e9442ab5750.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Remove translation sections from setup.cfg
  babel.cfg
  setup.cfg
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Remove deprecated [DEFAULT]fatal_exception_format_errors
  doc/source/admin/report.txt
  ironic/conf/default.py
  ironic/tests/base.py
  releasenotes/notes/del-fatal_exception_format_errors-f63b15c8aa460dff.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Remove deprecated [cinder]url
  ironic/common/cinder.py
  ironic/conf/cinder.py
  ironic/tests/unit/common/test_cinder.py
  releasenotes/notes/del-cinder-url-cf43cd0336c22878.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Doc building: Silence automated_steps
  doc/source/_exts/automated_steps.py
Due: none

Collect ramdisk logs also during cleaning
  ironic/conductor/cleaning.py
  ironic/drivers/modules/agent_base.py
  ironic/drivers/utils.py
  ironic/tests/unit/conductor/test_cleaning.py
  ironic/tests/unit/drivers/modules/test_agent_base.py
  ironic/tests/unit/drivers/test_utils.py
  releasenotes/notes/cleaning-logs-dc115b0926ae3982.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Pin the python-ibmcclient upper bounds due to six usage
  driver-requirements.txt
Due: ironic-standalone, ironic-standalone-redfish

Encapsulate auth_token middleware
  ironic/api/app.py
  ironic/api/middleware/__init__.py
  ironic/api/middleware/auth_public_routes.py
  ironic/common/policy.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

CI: add test-requirements to irrelevant-files
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Pin the python-ibmcclient upper bounds due to six usage
  driver-requirements.txt
  test-requirements.txt
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Raise the JSON RPC connection timeout to 2 minutes and disable retries
  ironic/conf/json_rpc.py
  releasenotes/notes/json-rpc-timeout-ac30eea164b3a294.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Change ibmcclient compatible version
  driver-requirements.txt
  ironic/drivers/modules/ibmc/utils.py
  ironic/tests/unit/drivers/modules/ibmc/test_utils.py
  ironic/tests/unit/drivers/third_party_driver_mocks.py
  releasenotes/notes/ibmcclient-fix-8c6cb49be0aef5f2.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

RAID docs: fix an invalid json example
  doc/source/admin/raid.rst
Due: none

Revert "Add timeout and retries to JSON RPC client"
  ironic/common/json_rpc/client.py
  ironic/conf/json_rpc.py
  releasenotes/notes/json-rpc-timeout-ac30eea164b3a294.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

rm duplicate word 'that'
  ironic/tests/unit/conductor/test_manager.py
Due: none

Fix image type reference
  ironic/drivers/modules/deploy_utils.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

Collect tftpd info from journald
  playbooks/ci-workarounds/get_tftpd.yaml
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Increase timeout for introspection in ironic-inspector-tempest
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Revert "Deprecate ibmc"
  doc/source/admin/drivers/ibmc.rst
  ironic/drivers/modules/ibmc/management.py
  ironic/drivers/modules/ibmc/power.py
  ironic/drivers/modules/ibmc/vendor.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Remove iDRAC Redfish boot device known issue
  doc/source/admin/drivers/idrac.rst
Due: none

Fix pygments style
  api-ref/source/conf.py
  doc/source/conf.py
  releasenotes/source/conf.py
Due: none

[Trivial]Add missing white space between words
  ironic/drivers/modules/drac/bios.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add py38 package metadata
  setup.cfg
Due: none

Do not fail when raw image is larger than memory for http
  ironic/drivers/modules/agent.py
  ironic/tests/unit/drivers/modules/test_agent.py
  releasenotes/notes/use-image-format-for-memory-check-25b1f06701ccdc47.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Change IRONIC_VM_SPECS_RAM default
  devstack/lib/ironic
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add `get_node_network_data` method to NetworkInterface
  ironic/drivers/base.py
  ironic/tests/unit/drivers/modules/network/test_flat.py
  ironic/tests/unit/drivers/modules/network/test_neutron.py
  ironic/tests/unit/drivers/modules/network/test_noop.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant

Add `get_node_network_data` to non-Neutron NetworkInterface
  ironic/drivers/modules/network/common.py
  ironic/tests/unit/drivers/modules/network/json_samples/network_data.json
  ironic/tests/unit/drivers/modules/network/test_common.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant
