Repository openstack/ironic: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

ironic-base:
  description: Base job for devstack/tempest based ironic jobs.
  parent: devstack-tempest
  timeout: 10800
  required-projects:
  - openstack/ironic
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/virtualbmc
  vars:
    tox_envlist: all
  ...

ironic-dsvm-standalone:
  description: Test ironic standalone
  parent: ironic-base
  vars:
    tempest_test_regex: ironic_standalone
    tempest_concurrency: 4
    devstack_localrc:
      FORCE_CONFIG_DRIVE: false
      IRONIC_AUTOMATED_CLEAN_ENABLED: false
      IRONIC_DEFAULT_DEPLOY_INTERFACE: direct
  ...

ironic-tempest-dsvm-ipa-partition-redfish-tinyipa:
  description: ironic-tempest-dsvm-ipa-partition-redfish-tinyipa
  parent: ironic-base
  timeout: 5400
  vars:
    devstack_localrc:
      IRONIC_DEPLOY_DRIVER: redfish
      IRONIC_ENABLED_HARDWARE_TYPES: redfish

ironic-tempest-dsvm-pxe_ipmitool-postgres:
  description: ironic-tempest-dsvm-pxe_ipmitool-postgres
  parent: ironic-base
  vars:
    devstack_localrc:
      IRONIC_IPXE_ENABLED: false
    devstack_services:
      mysql: false
      postgresql: true

ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa:
  description: ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa
  parent: ironic-base
  timeout: 5400
  vars:
    devstack_localrc:
      IRONIC_DEFAULT_DEPLOY_INTERFACE: direct
      IRONIC_TEMPEST_WHOLE_DISK_IMAGE: true
      IRONIC_VM_EPHEMERAL_DISK: 0
    devstack_services:
      s-account: true
  ...

ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa:
  description: ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa
  parent: ironic-base
  timeout: 5400
  vars:
    devstack_localrc:
      IRONIC_ENABLED_HARDWARE_TYPES: snmp
      IRONIC_DEPLOY_DRIVER: snmp
      IRONIC_TEMPEST_WHOLE_DISK_IMAGE: true
      IRONIC_VM_EPHEMERAL_DISK: 0

ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa:
  description: ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa
  parent: ironic-base
  timeout: 5400
  vars:
    devstack_localrc:
      IRONIC_BOOT_MODE: uefi

ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3:
  description: ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3
  parent: ironic-base
  timeout: 5400
  vars:
    devstack_localrc:
      USE_PYTHON3: true

ironic-tempest-dsvm-bfv:
  description: ironic-tempest-dsvm-bfv
  parent: ironic-base
  timeout: 9600
  vars:
    tempest_test_regex: baremetal_boot_from_volume
    devstack_localrc:
      IRONIC_ENABLED_STORAGE_INTERFACES: cinder,noop
      IRONIC_STORAGE_INTERFACE: cinder
      IRONIC_ENABLED_BOOT_INTERFACES: ipxe,pxe,fake
  ...

ironic-tempest-dsvm-ironic-inspector:
  description: ironic-tempest-dsvm-ironic-inspector
  parent: ironic-base
  required-projects:
  - openstack/ironic-inspector
  vars:
    tempest_test_regex: InspectorBasicTest
    devstack_localrc:
      IRONIC_DEFAULT_DEPLOY_INTERFACE: direct
      IRONIC_INSPECTOR_MANAGE_FIREWALL: true
  ...

Update Python 3 test runtimes for Train
  setup.cfg
  zuul.d/project.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Add API to allow update allocation name and extra field
  doc/source/contributor/webapi-version-history.rst
  ironic/api/controllers/v1/allocation.py
  ironic/api/controllers/v1/utils.py
  ironic/api/controllers/v1/versions.py
  ironic/common/policy.py
  ironic/common/release_mappings.py
  ironic/tests/unit/api/controllers/v1/test_allocation.py
  releasenotes/notes/allow-allocation-update-94d862c3da454be2.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Remove deprecated option [ilo]power_retry
  ironic/conf/ilo.py
  ironic/drivers/modules/ilo/power.py
  ironic/tests/unit/drivers/modules/ilo/test_power.py
  releasenotes/notes/ilo-remove-deprecated-power-retry-ba29a21f03fe8dbb.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Place upper bound on python-dracclient version
  doc/source/admin/drivers/idrac.rst
  driver-requirements.txt
Due: ironic-dsvm-standalone, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ironic-inspector, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Do not try to return mock as JSON in unit tests
  ironic/tests/unit/api/controllers/v1/test_node.py
  ironic/tests/unit/api/controllers/v1/test_port.py
Due: none

Add DHCP server part to make the document more detail
  doc/source/install/configure-pxe.rst
Due: none

Fix GRUB config path when building EFI ISO
  ironic/common/images.py
  ironic/tests/unit/common/test_images.py
  releasenotes/notes/fix-esp-grub-path-9e5532993dccc07a.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Allocation API: backfilling allocations
  api-ref/source/baremetal-api-v1-allocation.inc
  api-ref/source/parameters.yaml
  doc/source/contributor/webapi-version-history.rst
  ironic/api/controllers/v1/allocation.py
  ironic/api/controllers/v1/utils.py
  ironic/api/controllers/v1/versions.py
  ironic/common/release_mappings.py
  ironic/conductor/allocations.py
  ironic/conductor/manager.py
  ironic/db/sqlalchemy/api.py
  ironic/tests/unit/api/controllers/v1/test_allocation.py
  ironic/tests/unit/api/utils.py
  ironic/tests/unit/conductor/test_allocations.py
  releasenotes/notes/allocation-backfill-c31e84c5fcf24216.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Allocation API: correct setting name to None
  ironic/api/controllers/v1/allocation.py
  ironic/tests/unit/api/controllers/v1/test_allocation.py
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Update sphinx requirements
  doc/requirements.txt
Due: none

Fix inaccurate url links
  doc/source/admin/console.rst
  doc/source/install/index.rst
Due: none

Publish baremetal endpoint via mdns
  ironic/conductor/base_manager.py
  ironic/conf/conductor.py
  ironic/tests/unit/conductor/test_base_manager.py
  lower-constraints.txt
  releasenotes/notes/mdns-a5f4034257139e31.yaml
  requirements.txt
  tools/config/ironic-config-generator.conf
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Blacklist python-cinderclient 4.0.0
  requirements.txt
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

devstack: configure rabbit outside of API configuration
  devstack/lib/ironic
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Make the multinode grenade job voting again
  zuul.d/project.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Remove commit_required in iDRAC hardware type
  ironic/drivers/modules/drac/bios.py
  ironic/drivers/modules/drac/vendor_passthru.py
  ironic/tests/unit/drivers/modules/drac/test_raid.py
  releasenotes/notes/idrac-remove-commit_required-d9ea849e8f5e78e2.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Trivial: correct configuration option copy-pased from inspector
  ironic/conf/conductor.py
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Move stray reno file
  releasenotes/notes/add-protection-for-available-nodes-25f163d69782ef63.yaml
Due: none

Software RAID: Trigger grub installation on the holder disks
  ironic/drivers/modules/agent_base_vendor.py
  ironic/tests/unit/drivers/modules/test_agent_base_vendor.py
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

fix typo in code comment
  ironic/conductor/manager.py
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Fix binary file upload to Swift
  ironic/common/swift.py
  releasenotes/notes/fix-swift-binary-upload-bf9471fca29290e1.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Remove XML support in parsable_error middleware
  ironic/api/middleware/parsable_error.py
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Update sphinx requirements
  test-requirements.txt
Due: ironic-base, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Start using importlib for Python 3.x
  ironic/tests/unit/api/controllers/v1/test_expose.py
Due: none

Bump lower mock version to 3.0.0
  doc/requirements.txt
  lower-constraints.txt
  test-requirements.txt
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Add a pxe/uefi/grub2 CI job
  bindep.txt
  devstack/files/debs/ironic
  devstack/lib/ironic
  devstack/tools/ironic/templates/vm.xml
  zuul.d/ironic-jobs.yaml
  zuul.d/project.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Add api-ref for allocation update
  api-ref/source/baremetal-api-v1-allocation.inc
  api-ref/source/samples/allocation-update-request.json
  api-ref/source/samples/allocation-update-response.json
Due: none

Fix regex string in the hacking check
  ironic/hacking/checks.py
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Remove deprecated option [DEFAULT]enabled_drivers
  ironic/conductor/base_manager.py
  ironic/conf/default.py
  releasenotes/notes/remove-enabled-drivers-5afcd77b53da1499.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Ansible module: fix configdrive partition creation step
  ironic/drivers/modules/ansible/playbooks/roles/deploy/files/partition_configdrive.sh
  releasenotes/notes/bug-2005764-15f45e11b9f9c96d.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Remove elilo support
  ironic/common/pxe_utils.py
  ironic/drivers/modules/elilo_efi_pxe_config.template
  ironic/tests/unit/common/test_pxe_utils.py
  releasenotes/notes/remove-elilo-support-7fc1227f66e59084.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Incorporate bandit support in CI
  lower-constraints.txt
  test-requirements.txt
  tox.ini
  zuul.d/ironic-jobs.yaml
  zuul.d/project.yaml
Due: ironic-base, ironic-dsvm-standalone, ironic-tempest-dsvm-ipa-partition-redfish-tinyipa, ironic-tempest-dsvm-pxe_ipmitool-postgres, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa, ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa, ironic-tempest-dsvm-multitenant-network

Path conditions:
  ironic-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-dsvm-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-partition-redfish-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-pxe_ipmitool-postgres: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$)
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$)
  ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_snmp-tinyipa: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$)
  ironic-tempest-dsvm-ipa-partition-uefi-pxe_ipmitool-tinyipa: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$)
  ironic-tempest-dsvm-ipa-partition-pxe_ipmitool-tinyipa-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-bfv: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ironic-inspector: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$) or (unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$)
  ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-partition-bios-agent_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-partition-bios-pxe_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-bios-pxe_ipmitool-tinyipa: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-multitenant-network: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
