Repository openstack/ironic: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Path conditions:
  ironic-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-standalone-redfish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-bios-redfish-pxe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-uefi-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-partition-bios-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-pxe_ipmitool-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-pxe_snmp: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-functional-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe-grub2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit\.yml).*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-bfv: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ironic-inspector: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm-multinode-multitenant: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-dsvm-functional: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-parallel: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-pxe_ipa-full: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python2: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python3: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$

Convert last bionic jobs to focal
  zuul.d/ironic-jobs.yaml
  zuul.d/project.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Simplify injecting network data into an ISO image
  ironic/common/images.py
  ironic/drivers/modules/image_utils.py
  ironic/tests/unit/common/test_images.py
  ironic/tests/unit/drivers/modules/test_image_utils.py
  releasenotes/notes/vmedia-inject-files-b6e226e2db4cff06.yaml
  zuul.d/project.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Remove lower-constraints job
  zuul.d/project.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Document using ramdisks with the ramdisk deploy interface
  doc/source/admin/ramdisk-boot.rst
Due: none

Do not enter maintenance if cleaning fails before running the 1st step
  doc/source/admin/cleaning.rst
  ironic/conductor/utils.py
  ironic/tests/unit/conductor/test_cleaning.py
  ironic/tests/unit/conductor/test_manager.py
  releasenotes/notes/redundant-maintenance-09849674334f656a.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Register all hardware_interfaces together
  ironic/common/exception.py
  ironic/conductor/base_manager.py
  ironic/db/sqlalchemy/api.py
  ironic/objects/conductor.py
  ironic/tests/unit/api/controllers/v1/test_driver.py
  ironic/tests/unit/common/test_hash_ring.py
  ironic/tests/unit/conductor/test_base_manager.py
  ironic/tests/unit/conductor/test_rpcapi.py
  ironic/tests/unit/db/test_conductor.py
  ironic/tests/unit/objects/test_conductor.py
  releasenotes/notes/register_hardware_interfaces_together-7b458a59f5e8f41f.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

[stable-only] Fix bandit upper constraint
  test-requirements.txt
Due: ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Follow-up for ramdisk deploy configdrive support
  doc/source/admin/drivers/redfish.rst
  ironic/common/images.py
  ironic/drivers/modules/image_utils.py
  ironic/drivers/modules/pxe.py
  ironic/drivers/modules/redfish/boot.py
  ironic/tests/unit/drivers/modules/test_image_utils.py
  releasenotes/notes/ramdisk-configdrive-142149339dd00b47.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix idrac-wsman RAID step async error handling
  ironic/drivers/modules/drac/raid.py
  ironic/tests/unit/drivers/modules/drac/test_periodic_task.py
  releasenotes/notes/fix-wsman-raid-async-step-error-handling-f44e2001ac018d12.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update `cleaning_error_handler`
  ironic/conductor/cleaning.py
  ironic/conductor/utils.py
  ironic/drivers/modules/agent_base.py
  ironic/drivers/modules/drac/raid.py
  ironic/drivers/modules/ilo/management.py
  ironic/drivers/modules/ilo/raid.py
  ironic/drivers/modules/redfish/bios.py
  ironic/drivers/modules/redfish/management.py
  ironic/tests/unit/conductor/test_cleaning.py
  ironic/tests/unit/conductor/test_utils.py
  ironic/tests/unit/drivers/modules/ilo/test_management.py
  ironic/tests/unit/drivers/modules/ilo/test_raid.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  ironic/tests/unit/drivers/modules/test_agent_base.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

CI: Collect a snapshot of network connections
  playbooks/ci-workarounds/get_extra_logging.yaml
  playbooks/ci-workarounds/get_tftpd.yaml
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Enable testing to dynamicly leverage ACL roles
  ironic/tests/unit/api/test_acl.py
  ironic/tests/unit/api/test_acl_basic.yaml
  ironic/tests/unit/api/utils.py
Due: none

Fix redfish-virtual-media boot mode handling ordering
  ironic/drivers/modules/redfish/boot.py
  ironic/tests/unit/drivers/modules/redfish/test_boot.py
  releasenotes/notes/redfish-boot-mode-a44fc569f1baca8f.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Add a delay/retry is vmedia insert fails
  ironic/drivers/modules/redfish/boot.py
  ironic/tests/unit/drivers/modules/redfish/test_boot.py
  ironic/tests/unit/drivers/third_party_driver_mocks.py
  releasenotes/notes/retry-vmedia-1999742c84f11103.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

redfish-virtual-media: make fewer calls when preparing boot
  ironic/drivers/modules/redfish/boot.py
  ironic/tests/unit/drivers/modules/redfish/test_boot.py
  releasenotes/notes/redfish-vmedia-opt-59cafdde83fb2be7.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Common framework for configuring secure boot
  ironic/drivers/base.py
  ironic/drivers/modules/boot_mode_utils.py
  ironic/drivers/modules/pxe_base.py
  ironic/tests/unit/drivers/modules/test_boot_mode_utils.py
  ironic/tests/unit/drivers/modules/test_ipxe.py
  ironic/tests/unit/drivers/modules/test_iscsi_deploy.py
  ironic/tests/unit/drivers/modules/test_pxe.py
  releasenotes/notes/secure-boot-cf1c134bfb75768d.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Bump oslo.log requirement to 4.3.0
  requirements.txt
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Raw image size estimation improved
  ironic/common/images.py
  ironic/conf/default.py
  ironic/drivers/modules/image_cache.py
  ironic/tests/unit/common/test_images.py
  ironic/tests/unit/drivers/modules/test_image_cache.py
  releasenotes/notes/raw_image_growth_factor-cba37029650e67db.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update iDRAC doc with missing interfaces
  doc/source/admin/drivers/idrac.rst
Due: none

Write stub ACL test for every existing API call
  ironic/tests/unit/api/test_acl.py
  ironic/tests/unit/api/test_rbac_legacy.yaml
Due: none

Attempt to slim down protection test base class
  ironic/tests/unit/api/test_acl.py
  ironic/tests/unit/api/test_acl_basic.yaml
Due: none

Update minversion of tox
  tox.ini
Due: none

redfish-virtual-media: allow a link to raw configdrive image
  doc/source/admin/drivers/redfish.rst
  ironic/common/utils.py
  ironic/drivers/modules/image_utils.py
  ironic/tests/unit/drivers/modules/test_image_utils.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Pass context objects directly to policy enforcement
  ironic/api/controllers/v1/utils.py
  ironic/tests/unit/api/controllers/v1/test_utils.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Add centralized secure boot documentation
  doc/source/admin/drivers/ilo.rst
  doc/source/admin/drivers/irmc.rst
  doc/source/admin/security.rst
  doc/source/install/include/boot-mode.inc
Due: none

Redfish secure boot management
  doc/source/admin/drivers/redfish.rst
  doc/source/admin/security.rst
  driver-requirements.txt
  ironic/drivers/modules/redfish/boot.py
  ironic/drivers/modules/redfish/management.py
  ironic/tests/unit/drivers/modules/redfish/test_boot.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  ironic/tests/unit/drivers/third_party_driver_mock_specs.py
  ironic/tests/unit/drivers/third_party_driver_mocks.py
  releasenotes/notes/redfish-secure-boot-8e3b2fcad137e31e.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Add a few words about UEFI user images
  doc/source/install/creating-images.rst
Due: none

Refactor vendor detection and add Redfish implementation
  ironic/conductor/manager.py
  ironic/conductor/utils.py
  ironic/drivers/modules/ipmitool.py
  ironic/drivers/modules/redfish/management.py
  ironic/tests/unit/conductor/test_manager.py
  ironic/tests/unit/conductor/test_utils.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  ironic/tests/unit/drivers/modules/test_ipmitool.py
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Remove grenade jobs from old stable branches
  zuul.d/project.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

For Supermicro BMCs set enable when changing boot device
  ironic/drivers/modules/redfish/management.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  releasenotes/notes/supermicro-redfish-override-enabled-aa51686ed33d3061.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Guard conductor from consuming all of the ram
  devstack/lib/ironic
  doc/source/admin/troubleshooting.rst
  ironic/common/exception.py
  ironic/common/images.py
  ironic/common/utils.py
  ironic/conf/default.py
  ironic/drivers/modules/iscsi_deploy.py
  ironic/tests/unit/common/test_utils.py
  ironic/tests/unit/drivers/modules/test_image_cache.py
  ironic/tests/unit/drivers/modules/test_iscsi_deploy.py
  releasenotes/notes/limit-memory-consumption-c7949a49853ba83d.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Set default to prevent out of memory conditions
  ironic/conf/default.py
  ironic/tests/unit/common/test_utils.py
  releasenotes/notes/conductor-now-waits-when-low-on-memory-d73892a79cde0516.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update python packages to python3 in quickstart.rst
  doc/source/contributor/dev-quickstart.rst
Due: none

Fixes issue of redfish firmware update
  ironic/drivers/modules/redfish/management.py
  ironic/tests/unit/drivers/modules/redfish/test_management.py
  releasenotes/notes/fixes-ilo5-redfish-firmware-update-issue-c6dfcd71a2f659a5.yaml
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix Mis-Ordering of Bash Variable Definition in DevStack
  devstack/lib/ironic
Due: ironic-standalone, ironic-standalone-redfish, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Add release version to release notes
  releasenotes/source/victoria.rst
Due: none
