Repository openstack/ironic: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

ironic-standalone:
  description: Test ironic standalone
  parent: ironic-base
  vars:
    tempest_test_regex: ironic_standalone
    tempest_concurrency: 2
    devstack_localrc:
      FORCE_CONFIG_DRIVE: false
      IRONIC_AUTOMATED_CLEAN_ENABLED: false
      IRONIC_DEFAULT_DEPLOY_INTERFACE: direct
  ...

ironic-tempest-partition-bios-redfish-pxe:
  description: Deploy ironic node over PXE using BIOS boot mode
  parent: ironic-base
  timeout: 5400
  required-projects:
  - name: openstack/sushy-tools
    override-checkout: 0.17.0
  vars:
    devstack_localrc:
      IRONIC_DEPLOY_DRIVER: redfish
      IRONIC_ENABLED_HARDWARE_TYPES: redfish
  ...

ironic-tempest-partition-uefi-redfish-vmedia:
  description: Deploy ironic node over Redfish virtual media using UEFI boot mode
  parent: ironic-tempest-partition-bios-redfish-pxe
  vars:
    devstack_localrc:
      IRONIC_BOOT_MODE: uefi
      IRONIC_ENABLED_BOOT_INTERFACES: redfish-virtual-media
      SWIFT_ENABLE_TEMPURLS: true
  ...

ironic-inspector-tempest-partition-bios-redfish-vmedia:
  description: Inspect and deploy ironic node over Redfish virtual media using legacy BIOS boot mode
  parent: ironic-tempest-partition-uefi-redfish-vmedia
  required-projects:
  - openstack/ironic-inspector
  vars:
    tempest_test_regex: Inspector
    devstack_localrc:
      IRONIC_BOOT_MODE: bios
  ...

ironic-tempest-pxe_ipmitool-postgres:
  description: ironic-tempest-pxe_ipmitool-postgres
  parent: ironic-base
  vars:
    devstack_localrc:
      IRONIC_ENABLED_BOOT_INTERFACES: fake,pxe
      IRONIC_IPXE_ENABLED: false
      IRONIC_AUTOMATED_CLEAN_ENABLED: false
      IRONIC_DEFAULT_BOOT_OPTION: netboot
    devstack_services:
      mysql: false
  ...

ironic-tempest-ipa-wholedisk-bios-agent_ipmitool:
  description: ironic-tempest-ipa-wholedisk-bios-agent_ipmitool
  parent: ironic-base
  timeout: 9600
  vars:
    devstack_localrc:
      IRONIC_DEFAULT_DEPLOY_INTERFACE: direct
      IRONIC_DEFAULT_RESCUE_INTERFACE: agent
      IRONIC_ENABLED_RESCUE_INTERFACES: fake,agent,no-rescue
  ...

ironic-tempest-ipa-wholedisk-bios-pxe_snmp:
  description: ironic-tempest-ipa-wholedisk-bios-pxe_snmp
  parent: ironic-base
  timeout: 5400
  vars:
    tempest_test_regex: test_baremetal_server_ops_partition_image
    devstack_localrc:
      IRONIC_ENABLED_HARDWARE_TYPES: snmp
      IRONIC_DEPLOY_DRIVER: snmp
      IRONIC_TEMPEST_WHOLE_DISK_IMAGE: true
  ...

ironic-tempest-ipa-partition-uefi-pxe_ipmitool:
  description: ironic-tempest-ipa-partition-uefi-pxe_ipmitool
  parent: ironic-base
  timeout: 5400
  vars:
    tempest_test_regex: test_baremetal_server_ops_partition_image
    devstack_localrc:
      IRONIC_BOOT_MODE: uefi
      IRONIC_VM_SPECS_RAM: 333096
      IRONIC_AUTOMATED_CLEAN_ENABLED: false
  ...

ironic-tox-bandit:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit
  required-projects:
  - openstack/ironic

ironic-grenade-dsvm:
  parent: ironic-grenade
  timeout: 10800

Build the new cirros image even when netboot is the default
  devstack/lib/ironic
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Shorten error messages in commonly used modules
  ironic/conductor/cleaning.py
  ironic/conductor/deployments.py
  ironic/conductor/manager.py
  ironic/conductor/utils.py
  ironic/drivers/modules/agent_base.py
  ironic/drivers/modules/deploy_utils.py
  ironic/tests/unit/conductor/test_manager.py
  ironic/tests/unit/drivers/modules/test_agent_base.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Ensure tox.ini is ASCII
  tox.ini
Due: none

CI: force config drive on the multinode job's subnode
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update python-dracclient version
  driver-requirements.txt
Due: ironic-standalone

CI: use a custom cirros partition image instead of the default
  bindep.txt
  devstack/files/debs/ironic
  devstack/files/rpms/ironic
  devstack/lib/ironic
  devstack/tools/ironic/scripts/cirros-partition.sh
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Deprecate instance network boot
  doc/source/admin/adoption.rst
  doc/source/admin/drivers/ilo.rst
  doc/source/admin/drivers/snmp.rst
  doc/source/admin/report.txt
  ironic/conf/deploy.py
  ironic/drivers/modules/agent.py
  ironic/drivers/modules/deploy_utils.py
  releasenotes/notes/netboot-deprecation-fe5751a47df2d0b7.yaml
  zuul.d/ironic-jobs.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update .gitreview for bugfix/20.0
  .gitreview
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

More fixes for anaconda deploy interface
  ironic/common/pxe_utils.py
  ironic/drivers/modules/ks.cfg.template
  ironic/drivers/modules/pxe.py
  ironic/tests/unit/drivers/modules/test_pxe.py
  releasenotes/notes/anaconda-deploy-more-fixes-58d996c7031c8c4b.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

[Trivial] Fix formatting in troubleshooting docs
  doc/source/admin/troubleshooting.rst
Due: none

Troubleshooting guide: node locked error
  doc/source/admin/troubleshooting.rst
Due: none

Fix failure of create_vfat_image function
  ironic/common/images.py
  ironic/tests/unit/common/test_images.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Update minimum requirements for ilo drivers
  driver-requirements.txt
Due: ironic-standalone

Minor updates to rbac doc
  doc/source/admin/secure-rbac.rst
Due: none

Anaconda deploy handles configdrive correctly
  ironic/common/kickstart_utils.py
  ironic/common/pxe_utils.py
  ironic/drivers/modules/ks.cfg.template
  ironic/tests/unit/common/test_kickstart_utils.py
  ironic/tests/unit/common/test_pxe_utils.py
  releasenotes/notes/anaconda-config-drive-fixes-5880884e34584549.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Fix rebuilds using anaconda deploy interface
  ironic/common/pxe_utils.py
  ironic/drivers/modules/pxe.py
  releasenotes/notes/anaconda-instance-info-fix-a51837d8ac7b41de.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Suppress Bandit B509 in snmp.py
  ironic/drivers/modules/snmp.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Remove legacy experimental jobs
  zuul.d/legacy-ironic-jobs.yaml
  zuul.d/project.yaml
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Use pycdlib to extract deploy iso
  ironic/common/images.py
  ironic/tests/unit/common/test_images.py
Due: ironic-standalone, ironic-tempest-partition-bios-redfish-pxe, ironic-tempest-partition-uefi-redfish-vmedia, ironic-inspector-tempest-partition-bios-redfish-vmedia, ironic-tempest-pxe_ipmitool-postgres, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool, ironic-tempest-ipa-wholedisk-bios-pxe_snmp, ironic-tempest-ipa-partition-uefi-pxe_ipmitool, ironic-tempest-ipa-partition-pxe_ipmitool, ironic-tempest-bfv, ironic-inspector-tempest, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect, ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect, ironic-tempest-functional-python3, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode, ironic-tempest-ipa-partition-uefi-pxe-grub2, ironic-tox-bandit, ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib, ironic-tempest-ipxe-ipv6, ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa, ironic-grenade, ironic-grenade-dsvm, legacy-ironic-dsvm-base, legacy-ironic-dsvm-base-multinode, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode, ironic-tempest-dsvm-bfv, ironic-tempest-dsvm-ironic-inspector, ironic-grenade-dsvm-multinode-multitenant, ironic-dsvm-functional, ironic-tempest-dsvm-parallel, ironic-tempest-dsvm-pxe_ipa-full, ironic-tempest-dsvm-functional-python2, ironic-tempest-dsvm-functional-python3

Path conditions:
  ironic-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-bios-redfish-pxe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-partition-uefi-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-partition-bios-redfish-vmedia: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-pxe_ipmitool-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-pxe_snmp: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-pxe_ipmitool: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-bfv: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-bios-agent_ipmitool-indirect: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-functional-python3: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-partition-uefi-pxe-grub2: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/(?!bandit\.yml).*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-ipmi-direct-dib: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipxe-ipv6: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-bios-agent_ipmitool-tinyipa: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^driver-requirements.txt$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-ironic-dsvm-base-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-bfv: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ironic-inspector: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-grenade-dsvm-multinode-multitenant: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-dsvm-functional: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-parallel: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-pxe_ipa-full: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python2: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-functional-python3: unless all of: ^driver-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^ironic/locale/.*$, ^ironic/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
